name: Release
# Ref: https://raw.githubusercontent.com/jreleaser/helloworld-java-jpackage/refs/heads/main/.github/workflows/release.yml

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Branch or Tag to checkout'
        required: false
        type: string
      assemble:
        description: 'Assemble'
        required: false
        type: boolean
        default: true

# Constant for entire workflow
env:
  JRELEASER_JPACKAGE_ASSEMBLY_NAME: 'doc-exec-installer' # The jpackage assembly name
  JRELEASER_JLINK_ASSEMBLY_NAME: 'doc-exec-jre' # The jlink assembly name
  JRELEASER_JAVA_ARCHIVE_ASSEMBLY_NAME: 'doc-exec-nojre'
  JRELEASER_OUT_DIRECTORY: 'target'

jobs:

  assemble:
    if: inputs.assemble == true
    # We use the full qualified name so that even if the tag is older the workflow is not
    uses: combostrap/doc-exec/.github/workflows/release-assemble.yml@main

  assemble-jpackage:
    if: inputs.assemble == true
    # We use the full qualified name so that even if the tag is older the workflow is not
    uses: combostrap/doc-exec/.github/workflows/release-assemble-jpackage.yml@main
    with:
      os: 'windows-latest'

  release:
    runs-on: ubuntu-latest
    needs: [ assemble, assemble-jpackage ]
    steps:

      # Needed to get the version
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.ref || github.ref }}
          fetch-depth: 0

      - name: Properties
        id: props
        shell: bash
        run: |
          PROJECT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "project_version=$PROJECT_VERSION" >> $GITHUB_OUTPUT

      - name: Download Java Archive Artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: java-archive-*
          merge-multiple: true # download them to the same directory
          path: ${{env.JRELEASER_OUT_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JAVA_ARCHIVE_ASSEMBLY_NAME}}/java-archive

      - name: Download Jpackage Artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: jpackage-*
          merge-multiple: true # download them to the same directory
          path: ${{env.JRELEASER_OUT_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JPACKAGE_ASSEMBLY_NAME}}/jpackage

      - name: Download Jlink Artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: jlink-*
          merge-multiple: true # download them to the same directory
          path: ${{env.JRELEASER_OUT_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JLINK_ASSEMBLY_NAME}}/jlink

      - name: Display structure of downloaded files
        run: ls -R

      - name: Import Gpg Signing Key
        shell: bash
        run:
          gpg --batch --yes --passphrase "${{ secrets.GPG_SOFTWARE_SIGNING_PASSPHRASE }}" --import <(echo "${{ secrets.GPG_SOFTWARE_SIGNING_KEY }}")

      - name: Release
        uses: jreleaser/release-action@v2
        with:
          arguments: full-release
        env:
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_PROJECT_VERSION: ${{ steps.props.outputs.project_version }}
          JRELEASER_GPG_PASSPHRASE: ${{ secrets.GPG_SOFTWARE_SIGNING_PASSPHRASE }}

      - name: JReleaser output
        if: always()
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1
          name: jreleaser-release
          path: |
            ${{env.JRELEASER_OUT_DIRECTORY}}/jreleaser/trace.log
            ${{env.JRELEASER_OUT_DIRECTORY}}/jreleaser/output.properties