name: Release Assemble JPackage
# Jpackage needs the original operating system (ie the installer tools and the c library) to create and compile the native package
# Inspiration: https://github.com/jreleaser/helloworld-java-jpackage/blob/main/.github/workflows/reusable-assemble.yml

# Mandatory (manual)
on:
  workflow_dispatch:
    # ! input have to be duplicated with workflow_call
    # Limitations of GitHub: https://github.com/orgs/community/discussions/39357
    inputs:
      runner:
        description: 'Runner'
        required: false
        type: choice
        default: windows-latest
        options:
          - ubuntu-latest
          - windows-latest
          - macos-latest
          - all
      tag:
        description: 'Tag to checkout (vx.x.x or early-access)'
        required: true
        type: string
        default: 'early-access'
  workflow_call:
    # ! input have to be duplicated with workflow_dispatch
    # Limitations of GitHub: https://github.com/orgs/community/discussions/39357
    inputs:
      runner:
        description: 'Runner'
        required: true
        default: windows-latest
        type: string
      tag:
        description: 'Tag to checkout (vx.x.x or early-access)'
        required: true
        type: string

# Constant for entire workflow
env:
  # The assembly name. They should never change, but it's still a property
  JRELEASER_JPACKAGE_ASSEMBLY_NAME: 'doc-exec-installer'
  JRELEASER_JLINK_ASSEMBLY_NAME: 'doc-exec-jre'
  JRELEASER_JAVA_ARCHIVE_ASSEMBLY_NAME: 'doc-exec-nojre'
  BUILD_DIRECTORY: 'target'
  WORKFLOW_ID: 'release-assemble-jpackage' # the workflow name without extension
  # Even if we can get it from the pom, it's fix, and we win a couple of second with help:evaluate
  ARTIFACT_ID: combostrap-doc-exec
  SNAPSHOT_TAG: early-access

jobs:

  # Jlink archive used by Jpackage are build and tested on a Linux OS
  assemble-archive:
    uses: ./.github/workflows/release-assemble-archive.yml
    with:
      tag: ${{ inputs.tag }}

  # The name is used as path in GitHub
  # So we get from a release run: release-assemble / assemble-archive
  assemble-jpackage:
    # We can't put any runner context info here unfortunately
    name: 'Assemble ${{ matrix.os }}'
    needs: [ assemble-archive ]
    strategy:
      fail-fast: false
      matrix:
        # List: https://docs.github.com/en/actions/how-tos/write-workflows/choose-where-workflows-run/choose-the-runner-for-a-job#standard-github-hosted-runners-for-public-repositories
        os: ${{ fromJSON(
          inputs.runner == 'all' && '["ubuntu-latest", "windows-latest", "macos-latest"]' ||
          format('["{0}"]', inputs.runner)
          ) }}
    runs-on: ${{ matrix.os }}
    steps:

      # Checkout
      - name: Git Checkout ${{ inputs.tag }}
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.tag }}
          fetch-depth: 0

      # Cache to not download the maven dependency between matrix run
      # https://github.com/actions/cache/blob/main/examples.md#java---maven
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      # Extract Properties from pom.xml
      - name: Properties
        id: props
        shell: bash
        run: |
          
          set -TCEeuo pipefail
          
          # Project version and tag
          # Why not yq even if mvnw help:evaluate is fucking slow
          # Because if yq install failed (ie Download request status is not success)
          # It's more slow as we need to restart the whole archive flow
          PROJECT_VERSION=$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout)
          PROJECT_TAG="v$PROJECT_VERSION"
          if [[ "$PROJECT_VERSION" =~ .*-SNAPSHOT ]]; then
            PROJECT_VERSION=${{env.SNAPSHOT_TAG}}
            PROJECT_TAG=${{env.SNAPSHOT_TAG}}
          fi
          echo "project_version=$PROJECT_VERSION" >> $GITHUB_OUTPUT
          
          # Check
          TAG="${{ inputs.tag }}"
          if [ "$PROJECT_TAG" != "$TAG" ]; then
            echo "Derived Tag from pom.xml ($PROJECT_TAG) is not the same as the workflow tag $TAG"
            exit 1
          fi
          
          JDK_VERSION=$(./mvnw help:evaluate -Dexpression=jdk.version -q -DforceStdout)
          echo "jdk_version=$JDK_VERSION" >> $GITHUB_OUTPUT
          
          JDK_DISTRO=$(./mvnw help:evaluate -Dexpression=jdk.distribution -q -DforceStdout)
          echo "jdk_distro=$JDK_DISTRO" >> $GITHUB_OUTPUT
          
          # Runner arch normalization
          # https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#runner-context
          case "${{ runner.arch }}" in
            ARM64)
              ARCH_JRELEASER="aarch_64"
              ARCH_ARTIFACT="arm64"
              ;;
            X64)
              ARCH_JRELEASER="x86_64"
              ARCH_ARTIFACT="x64"
              ;;
            *)
              echo "Unknown arch ${{ runner.arch }}"
              exit 1
              ;;
          esac
          
          # Runner os normalization
          # https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#runner-context
          case "${{ runner.os }}" in
            Windows)
              OS_JRELEASER="windows"
              OS_ARTIFACT="windows"
              ;;
            Linux)
              OS_JRELEASER="linux"
              OS_ARTIFACT="linux"
              ;;
            macOS)
              OS_JRELEASER="osx"
              OS_ARTIFACT="macos"
              ;;
            *)
              echo "Unknown arch ${{ runner.arch }}"
              exit 1
              ;;
          esac
          echo "os_artifact=${OS_ARTIFACT}" >> $GITHUB_OUTPUT
          
          # Platform - The os and runner id
          # The name uses to download the jdk. It's unique by runner and unique by jdk
          PLATFORM_JRELEASER="${OS_JRELEASER}-${ARCH_JRELEASER}";
          echo "platform_jreleaser=${PLATFORM_JRELEASER}" >> $GITHUB_OUTPUT
          PLATFORM_ARTIFACT="${OS_ARTIFACT}-${ARCH_ARTIFACT}";
          echo "platform_artifact=${PLATFORM_ARTIFACT}" >> $GITHUB_OUTPUT


      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ steps.props.outputs.jdk_version }}
          distribution: ${{ steps.props.outputs.jdk_distro }}
          cache: maven

      # Still needed by JPackage - strange
      # Run the jdks profile default goal with maven wrapper
      - name: Maven Setup JDKs
        # The shell is bash on Linux and Powershell in Windows
        # The quotes are mandatory for Windows otherwise it will see -Djdk.name=xxx as powershell parameter
        run: ./mvnw --no-transfer-progress --batch-mode -Pjdks "-Djdk.name=${{ steps.props.outputs.platform_artifact }}"

      # Build jar, still needed by Jpackage even with the jlink runtime ???
      - name: Maven Build Jar
        run: ./mvnw --no-transfer-progress --batch-mode -DskipTests package

      # Wix v3 is needed by Jpackage
      - name: Winget Install WiX v3
        if: runner.os == 'Windows'
        # silent = no GUI windows, progress bars, or installer dialogs
        # force = to avoid the error: `Found an existing package already installed`
        # https://learn.microsoft.com/en-us/windows/package-manager/winget/install
        run: winget install -e --id WiXToolset.WiXToolset -v 3.14.1.8722 --silent --accept-source-agreements --accept-package-agreements --force

      # Download Installer created by the archive assemble workflow
      - name: Download Jlink Artifacts
        uses: actions/download-artifact@v4
        continue-on-error: false
        with:
          pattern: jlink-${{ steps.props.outputs.project_version }}-${{ steps.props.outputs.os_artifact }}
          merge-multiple: true # download them to the same directory
          path: ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JLINK_ASSEMBLY_NAME}}/jlink

      - name: Expand jlink
        shell: bash
        run: |
          cd ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JLINK_ASSEMBLY_NAME}}/jlink
          ls -l
          unzip -q -d work-${{ steps.props.outputs.platform_jreleaser }} ${{ env.ARTIFACT_ID }}-${{ steps.props.outputs.project_version }}-jre-${{ steps.props.outputs.platform_artifact }}.zip

      - name: Display structure of downloaded files
        run: ls -R

      # Jpackage assembly
      - name: JReleaser JPackage Assemble
        # The shell is bash on Linux and Powershell in Windows
        # The quotes are mandatory for Windows otherwise it will see -Djreleaser.select as powershell parameter
        run: ./mvnw jreleaser:assemble "-Djreleaser.select.current.platform" "-Djreleaser.assemblers=jpackage" --no-transfer-progress --batch-mode

      # Upload log
      - name: JReleaser output
        if: always()
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1 # 90 by default
          name: jreleaser-logs-${{env.WORKFLOW_ID}}-${{ steps.props.outputs.project_version }}-${{ steps.props.outputs.platform_artifact }}
          path: |
            ${{env.BUILD_DIRECTORY}}/jreleaser/trace.log
            ${{env.BUILD_DIRECTORY}}/jreleaser/output.properties

      # Upload Jpackage native package
      # Jlink artifact is not in this upload because we download them into a different directory
      # ie JReleaser expects the Jlink and Native Package in different directory
      - name: Upload Jpackage Native Package
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1 # 90 by default
          name: jpackage-${{ steps.props.outputs.project_version }}-${{ steps.props.outputs.platform_artifact }}
          path: |
            ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JPACKAGE_ASSEMBLY_NAME}}/jpackage/*.pkg
            ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JPACKAGE_ASSEMBLY_NAME}}/jpackage/*.msi
            ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JPACKAGE_ASSEMBLY_NAME}}/jpackage/*.deb
            ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JPACKAGE_ASSEMBLY_NAME}}/jpackage/*.rpm

